@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c58cf8;
  height: 100vh;
}

.container {
  height: clamp(200px, 30vh, 300px);
  width: clamp(300px, 30vw, 400px);
  background-color: white;
  border-radius: 5px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

#search-box {
  width: 80%;
  height: 44px;
  border: 2px solid #f980ac;
  border-radius: 5px;
  outline: none;
}
#search-box:focus {
  border-color: #ca6d8f;
  font-weight: bold;
}
#search-btn {
  border-radius: 5px;
  outline: #fff;
  background-color: rgb(126, 89, 158);
  color: #fff;
  font-weight: bolder;
  font-size: 1.1rem;
  padding: 10px;
}
.details {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  height: 150px;
}
#weather-icon {
  height: 86px;
}
