@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body stylling */
body {
  background-color: black;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Ubuntu", sans-serif;
  position: absolute;
}
/* main container stylling */
.container {
  min-height: 600px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-x: hidden;
}
/* header of the home page */
.header {
  overflow: hidden;
  background-color: rebeccapurple;
  color: #fff;
  padding: 20px;
  position: relative;
}
/* body container */
.body-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
  background-color: #c9cdcf;
}
/* body header */
.body-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.body-heading {
  font-size: 1.5rem;
}
.view-type {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 1.5rem;
  color: rgba(102, 51, 153, 0.7);
}

.view-type i:hover,
.view-type i.clicked {
  font-size: 1.7rem;
  color: rebeccapurple;
}
/* stylling all the available task cards */
.taskcards-container {
  height: 532px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 125px;
  gap: 13px 0px;
  overflow-y: auto;
}
.taskcards-container.rowview {
  grid-template-columns: 1fr;
}
.todo-card {
  height: 125px;
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.todo-card.rowview {
  width: 300px;
}
.todo-card i {
  text-align: end;
  width: 100%;
  position: relative;
  bottom: 27%;
}
.todo-card p {
  font-size: 0.7rem;
}
/* add new notes icon */
#add-task-icon {
  position: absolute;
  right: 15px;
  bottom: 15px;
  border: none;
  border-radius: 50%;
  font-size: 3rem;
  color: rebeccapurple;
  outline: none;
}
#add-task-icon:hover {
  color: green;
}
#add-task-icon.hide {
  display: none;
}
/* window for adding a new task */
.new-task {
  transform: translateX(-50vw);
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: all 0.6s ease-in-out;
}
.new-task.active {
  transform: translateX(0);
}
.new-task-header {
  display: flex;
  padding: 20px;
  height: 12.5%;
  background-color: rebeccapurple;
}
#new-task-back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
}
#new-task-back:hover {
  color: red;
}
.new-task-header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}
.new-task-container {
  padding: 20px;
  display: grid;
  gap: 15px;
}
.new-task-container label {
  font-size: 1.3rem;
}
.new-task-container input {
  min-width: 90%;
  height: 30px;
  border-radius: 5px;
  font-size: 1.1rem;
}
#new-task-check {
  margin-left: 3px;
  color: rebeccapurple;
  padding: 3px;
  border: 1px solid rebeccapurple;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
#new-task-check:hover {
  background-color: rgb(197, 192, 192);
}
#new-task-check:active {
  background-color: rebeccapurple;
  color: #fff;
}
.new-task-list {
  padding-left: 50px;
  padding-right: 20px;
  display: grid;
  gap: 10px;
  list-style-type: decimal;
  max-height: 300px;
  overflow-y: auto;
}
.new-task-list li {
  font-size: 1.2rem;
  color: rebeccapurple;
  font-weight: bold;
}
.new-task-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
#save-task,
#delete-task {
  font-size: 1.2rem;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}
/* Todo popup window */
.todo-viewer {
  position: absolute;
  background-color: rgba(102, 51, 153, 1);
  height: 100%;
  width: 100%;
  transform: translateX(-100vw);
}
.todo-viewer.active {
  transform: translateX(0);
}
.viewer-header-container {
  display: flex;
  padding: 20px;
  height: 12.5%;
}
.viewer-header-container i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
}
.viewer-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  color: #fff;
}
.viewer-container {
  height: 75%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-y: auto;
}
.viewer-container h2 {
  background-color: #fff;
  padding: 15px;
}
.viewer-container li {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}
.viewer-container li input {
  min-width: 1.2rem;
  min-height: 1.2rem;
}
.fa.fa-trash {
  color: red;
}
.unfinished,
.finished {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 15px;
}
.finished li i {
  color: rebeccapurple;
}
.finished li div {
  text-decoration: line-through;
}
.input-task {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12.5%;
}
#inp-txt {
  height: 40px;
  width: 250px;
  border-radius: 7px;
  outline: none;
  padding: 10px;
  font-size: 1.2rem;
}
#add-task {
  font-size: 2rem;
  width: 50px;
  border-radius: 7px;
  outline: none;
  background-color: rebeccapurple;
  color: #fff;
}
